[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
art = "*"
simple-term-menu = "*"

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"
flake8 = "*"
pytest-cov = "*"
behave = "*"

[requires]
python_version = "3.8"
